body, html {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

header, main {
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: center;
}

/* =============== header =============== */

header {
    height: 10%;
}

#searchbar-form {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#search-bar {
    width: 85%;
    height: 100%;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

#search-button {
    width: 10%;
    height: 100%;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.logo {
    width: 30%;
    height: 100%;
}


/* =============== main =============== */

main {
    height: 70%;
}

article {
    width: 70%;
    height: 100%;
}

/* =============== aside =============== */

aside {
    width: 30%;
    height: 100%;
    padding-top: 5%;
}

#filters-form {
    margin-left: 15%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

#filters-form label {
    height: 5%;
    width: 5%;
    margin: 5px;
    margin-left: 0;
    font-size: x-large;
}

#filters-form select {
    height: 5%;
    width: 70%;
    margin-left: 15%;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.chosen-container-multi {
    height: 5%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 2%;
}

.select-container {
    margin-bottom: 5%;
}

aside select {
    margin-bottom: 5%;
}

.search-choice {
    font-size: large;
}

/* =============== result =============== */

.result, .result-opinion, .result-dish {
    width: 60%;
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px gray solid;
    border-radius: 5px;
    padding: 1%;
    text-decoration: none;
}


.result:hover {
    cursor: pointer;
}

.result h1 {
    color: gray;
}

.result-table-value {
    text-align: center;
    color: green;
}

